---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import VerticalNav from '../components/VerticalNav.svelte';
import VerticalList from '../components/VerticalList.svelte';
import StateCookieProvider from '../components/StateCookieProvider.svelte';
import json from '../app.json';


const {
  title,
  footer,
  states,
} = json;
---

<Layout title={title}>

  {states.map(s => {
    const {
      state,
      bannerNav,
      verticalNav,
      verticalList,
    } = s;

    return (
      <StateCookieProvider state={state} client:load>
        <div class="flex flex-v flex-wrap">

          <Header bannerNav={bannerNav} state={state} />

          <div class="flex vh-6-10">
            <div class="wrap pad_b_2 smalls_pad_h_half">
              <div class="row">

                <VerticalNav {...verticalNav} client:load />

                <VerticalList {...verticalList} client:load />

              </div>
            </div>
          </div>
        </div>
      </StateCookieProvider>
    );
  })}

  <Footer footer={footer} />

</Layout>
