---
import BannerNav from '../components/BannerNav.svelte';
import StateCookieToggleBtn from '../components/StateCookieToggleBtn.svelte';
import { STATE_COOKIE_VALUES, STATE_COOKIE_VALUE_ILLINOIS } from '../utils/stateCookie';
import json from '../data.json';


interface Props {
  bannerNav: {
    ariaLabel: string;
    tiles: Array<{
      href: string;
      iconName: string;
      text: string;
    }>
  },
  state: string,
};

const { bannerNav, state } = Astro.props;
const { ariaLabel, tiles } = bannerNav;

const { title, header } = json;
const { ariaLabel: headerAriaLabel, iconName } = header;
---

<div class:list={['hero flex flex-v vh-4-10', { 'illinois': state === STATE_COOKIE_VALUE_ILLINOIS }]}>

  <header class="header flex-center flex flex-v">

    <img src={`${import.meta.env.BASE_URL}${iconName}`} class="pad_h_2 flex-center" alt={title} style="z-index:1;">

    <h1 class="element-invisible">{headerAriaLabel}</h1>

    <div class="toggle-state-wrapper">
      {STATE_COOKIE_VALUES.map(state => <StateCookieToggleBtn state={state} client:load />)}
    </div>

  </header>

  <BannerNav ariaLabel={ariaLabel} tiles={tiles} client:load />

</div>

<style>
  .illinois {
    background-image: url('/src/assets/bg_hero_temp_illinois.jpg');
  }
</style>