---
// import getCookie from '../utils/getCookie';
import '../styles/project.scss';


const stateServerCookieKey = 'uwh_state';
const stateLocalCookieKey = `${stateServerCookieKey}-local`;

const stateCookieValueWisconsin = 'wi';
const stateCookieValueIllinois = 'il';

const stateServerCookieValue = Astro.cookies.get(stateServerCookieKey);
const stateLocalCookieValue = Astro.cookies.get(stateLocalCookieKey);

// if no cookie on load, set to Wisconsin
const stateCookieValue = stateLocalCookieValue ? stateLocalCookieValue : stateServerCookieValue;
console.log({stateCookieValue})

// TODO: use cookie to feed UI

// TODO: handle UI state switcher
const handleStateCookieChange = (value) => {
  Astro.cookies.set(stateServerCookieKey, value);
};


// track page view
declare global {
  interface Window {
    _paq:any;
  }
}
const _paq = typeof window !== 'undefined' && window._paq || [];
_paq.push(['trackPageView', stateCookieValue]);


interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="robots" content="noindex">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
  </head>

  <body>
    <script type="text/javascript" is:inline>
      (function(window, document, dataLayerName, id) {
      window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
      function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString()}document.cookie=a+"="+b+d+"; path=/"}
      var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
      var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
      tags.async=!0,tags.src=`${import.meta.env.PIWIK_PRO_CONTAINER_URL}/${id}.js${qPString}`,scripts.parentNode.insertBefore(tags,scripts);
      !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
      })(window, document, 'dataLayer', `${import.meta.env.PIWIK_PRO_CONTAINER_ID}`);
    </script>

    <slot />

  </body>
</html>
